/* Général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% de la hauteur de la fenêtre */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar-left, .navbar-middle, .navbar-right {
    display: flex;
    align-items: center;
}

.home-button, .auth-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Main content */
.main-content {
    display: flex;
    flex-grow: 1; /* Permet à .main-content de prendre tout l'espace restant */
}

/* Sidebar */
.sidebar {
    width: 200px; /* Largeur fixe de la sidebar */
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Empêche la réduction de la largeur */
    height: 100%; /* Prend toute la hauteur disponible */
    position: sticky; /* Pour qu'elle reste fixe lors du défilement */
    top: 0; /* Fixe le haut de la sidebar */
}

.file-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.file-list li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    margin-bottom: 5px;
}

.file-list li a:hover {
    background-color: #ddd;
}

/* Documents list */
.documents-list {
    flex-grow: 1; /* Permet à .documents-list de s'étendre pour remplir l'espace restant */
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Permet de faire défiler le contenu si nécessaire */
}

/* Styles pour la fenêtre modale */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 30%;
    left: 40%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: hsl(0, 0%, 93%);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    position: relative;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    width: 95%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative; /* Assure que le footer se place en bas du document */
}
